<div class="container py-4">
    <h1>Dashboard</h1>
    {{#if isInstructor}}
        <h1>Instructor Dashboard</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }} </p>
        <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
        <p>Role: {{ user.role }}</p>
        <p>Courses:</p>
        {{#each user.courses}}
            <div class="my-2 p-2 border bg-light rounded shadow">
                <p class="lead">{{this.name}}</p>
                <p>{{this.description}}</p>
                <button class="btn btn-danger drop-course">Drop Course</button>
            </div>
        {{/each}}
    {{else}}
        <h1>Student Dashboard</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }} </p>
        <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
        <p>Role: {{ user.role }}</p>
        <p>Courses: </p>
        {{#each user.courses}}
            <div class="my-2 p-2 border bg-light rounded shadow">
                <p class="lead">{{this.name}}</p>
                <p>{{this.description}}</p>
                <button class="btn btn-danger drop-course">Drop Course</button>
            </div>
        {{/each}}
    {{/if}}
</div>

<script>

</script>