<div class="container py-4">
<div class="container py-4">
    {{#if isInstructor}}
        <h1>Instructor Dashboard</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
        <p>Role: {{ user.role }}</p>
        <p>Courses:</p>
    {{else}}
    <div class="container-fluid">
        <div class="row content" style='height: 600px'>
        <h2>Student Dashboard</h2>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
        <p>Role: {{ user.role }}</p>
        <p>Courses:</p>
            <div class="col-sm-3 sidenav" style="height: 900px; background-color: #f1f1f1;" style=height: 100%>
                <ul class="nav flex-column">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="nav-item"><a href="/enroll">Enroll Course</a></li>
                    <li class="nav-item"><a href="/dashboard/dropCourse">Drop Course</a></li>
                    <li class="nav-item"><a href="/dashboard/schedule">Enrolled Courses</a></li>
                    <li class="nav-item"><a href="/dashboard/cart">Course Cart</a></li>
                    <li class="nav-item"><a href="/dashboard/logout">Logout</a></li>
                </ul>
            </div>
            <div class="col-sm-9" style="background-color: white;">
                <br><br>
                <div class="container" style="width: 100%;">
                    <table id="theTable" class="display">
                        <thead>
                            <tr>
                                <th class="col-5">Course Id</th>
                                <th class="col-5">Course Name</th>
                                <th class="col-5">Description</th>
                                <th class="col-5">Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>

<style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>