<div class="container py-4">

    {{#if isInstructor}}
        <h1>Instructor Dashboard</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
        <p>Role: {{ user.role }}</p>
        <p>Courses:</p>
    {{else}}
        
    {{/if}}

    <div class="container-fluid">
        <div class="row content">
        <h2>Student Dashboard</h2>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
        <p>Role: {{ user.role }}</p>
        <p>Courses:</p>
            <div class="col-sm-3 sidenav" style="height: 900px;">
                <ul class="nav flex-column">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="enroll.hbs">Enroll Course</a></li>
                    <li><a href="dropCourse.hbs">Drop Course</a></li>
                    <li><a href="/dashboard/schedule.hbs">Enrolled Courses</a></li>
                    <li><a href="/dashboard/cart.hbs">Course Cart</a></li>
                    <li><a href="/dashboard/logout.hbs">Logout</a></li>
                </ul>
            </div>

            <div class="col-sm-9" style="background-color: white;">
                <br><br>
                <div class="container" style="width: 100%;">
                    <table id="theTable" class="display">
                        <thead>
                            <tr>
                                <th class="col-5">Course Id</th>
                                <th class="col-5">Course Name</th>
                                <th class="col-5">Description</th>
                                <th class="col-5">Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>

