<main class="container">
    <h1>Single Course</h1>
    <section class="card shadow p-2 my-2 col-12 courses-card">
        <h3>{{course.name}}</h3>
        <p>{{course.description}}</p>
        <p>Subject Area: {{course.subjectArea}}</p>
        <p>Credits: {{course.credits}}</p>
      {{#if isInstructor}}
        Instructor
        <a class="btn btn-warning update" href="/courses/{{this._id}}?updating=true">Update Course</a>
        <a class="btn btn-danger delete" href="#" data-doc="{{this._id}}">Delete</a>
      {{else if isStudent}}
      <a class="btn btn-primary" href="/users/add-course/{{this._id}}">Enroll</a>
      {{/if}}
        <a href="{{course.registerLink}}">Register</a>
        <a href="/courses">All Courses</a>
    </section>
</main>
