<main class="container">
    <h1>Single Course</h1>
    <section class="card shadow p-2 my-2 col-12 courses-card">
        <h3>{{course.name}}</h3>
        <p>{{course.description}}</p>
        <p>Subject Area: {{course.subjectArea}}</p>
        <p>Credits: {{course.credits}}</p>
        <a href="{{course.registerLink}}">Register</a>
        <a href="/courses">All Courses</a>
    </section>
</main>
